<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.hiithard">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30" />
    <application android:label="HiitHard.Android" android:theme="@style/MainTheme">
      <receiver android:name="MediaButtonReceiver">
        <intent-filter android:priority="2147483647">
          <action android:name="android.intent.action.MEDIA_BUTTON" />
          <action android:name="android.media.VOLUME_CHANGED_ACTION" />
          
        </intent-filter>
      </receiver>
    </application>
  
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.BLUETOOTH" />
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
  <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />

  <!--this is necessary for Android v6+ to get the device name and address-->
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.MEDIA_BUTTON" />

  

</manifest>
